body{
    font-family: 'Poppins', sans-serif !important;
}
/* nav */
ul.navbar-nav {
    width: 100%;
}
li.nav-item.iii {
    margin-left: auto;
    display: flex;
    align-items: center;
}
li.nav-item.iii i {
    padding-right: 20px;
}
/* -------- */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 3;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}
.dropdown::after {
    content: "";
    height: 96px;
    width: 106px;
    z-index: 2;
    position: absolute;
    display: none;
}
.dropdown:hover .dropdown-content {display: block !important;}

/* -------- */
/* hero section */
.carousel-item{
    height: 100vh;
    background: #e3e3e1;
}
.carousel-caption {
    color: black;
}
.text-middle{
    top: 30%;
    right: -200px;
}
.text-start {
    top: 40%;
    left: 185px;
}
.text-end {
    top: 35%;
    right: 195px;
}


img.first-hero {
    height: 100%;
    position: absolute;
    left: -150px;
}
img.middle-hero {
    width: 100%;
    top: -100px;
    position: absolute;
    left: -260px;
}

img.last-hero {
    height: 100%;
    position: absolute;
    left: 100px;
}

.timmer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 10px;
}
p.ellipse {
    background: #ffffff;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    color: black;
    margin: 3px;
    font-weight: 700;
}
/* blog */
section#blog {
    padding: 50px 0px;
}
.section-header {
    margin: 50px 0px;
    text-align: center;
    color: #5f5b57;
}
.single-blog-txt h2 a {
    text-transform: initial;
    margin: 15px 0px;
    color: #5f5b57;
    display: inline-block;
    text-decoration: none;
    color: #616060;
    font-size: 16px;
    padding: 0;
    font-weight: 500;
}
.single-blog-txt h3, .single-blog-txt h3 a {
    color: #bcb7b2;
    font-size: 14px;
    font-weight: 400;
}
.single-blog-txt p {
    font-size: 13px;
    margin-top: 20px;
    color: #95908b;
}
.single-blog-img {
    position: relative;
    overflow: hidden;
}
.single-blog-img img {
    width: auto;
    height: auto;
}
/* footer */
.container.footer {
    position: relative;
    bottom: 0px;
}
.footer {
    background: #161515de;
    color: white;
}
.col-6.col-md-2.mb-3 ul li a {
    color: #8f8d8d !important;
}